<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chiplinks</title>

    {% include 'Static/js.html' %}

    {% include 'Static/css.html' %}

    <meta name="keywords" content="致力于精密运动控制-智联微">
    <meta name="description"
          content="智联微-专注于电机驱动芯片的代理销售和电机驱动方案开发，产品包括电机驱动芯片, 步进电机驱动器, 伺服电机驱动器, 运动控制卡. TRINAMIC中国区一级代理.">

    {% block SEO_BLOCK %}
    {% endblock %}
</head>
<body>
{% include "NAV.html" %}

{% block MainBody %}

{% endblock %}

{% include "FOOTER.html" %}
</body>
</html>