<div style="background-color: rgb(248, 249, 250);">
    <div class="container container-fluid">
        <div class="row justify-content-center"><p> 友情链接： <a
                href="https://www.trinamic.com/"
                target="_self"
                class="">
            TRINAMIC官网 </a></p></div>
        <div class="row justify-content-center"><p> © 2020 <a
                href="https://www.chiplinkstech.com"
                target="_self"
                tabindex="-1"
                aria-disabled="true"
                class="disabled">
            深圳市智联微电子有限公司 </a> <a href="http://www.beian.miit.gov.cn" target="_self" tabindex="-1"
                                 aria-disabled="true" class="disabled"> 粤ICP备18034362号-4 </a></p></div>
    </div>
</div>